@media (max-width: 535px){
    .all-listings-nav h2{
        display:none
    }
    .filters{
        justify-content: center;
        margin-right: 13px;
        min-width: 280px;
    }
    .all-listings-nav .dropdown{
        margin-right: 0 !important;
    }
    #sign-up{
        font-size: 15px;
    }
    #brand-logo-small{
        display: inline !important;
    }
    #brand-logo{
        display: none;
    }
}
@media (max-width: 1000px){
    #about-us{
        display: none;
    }
    
    #auction-a-car{
        display: none;
    }
}
header{
    display: flex;
    max-width: 1500px;
    position: fixed;
    background-color: #0c1018;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    z-index: 1000;
    padding-bottom: 20px;
    border-bottom: solid #1b2331 1px;
}
.header-content{
    max-width: 1500px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.header-buttons{
    display: flex;
    font-family: 'Noto sans';
    gap: 15px;
    font-weight: 400;
    margin: auto;
    font-size: 20px;
    margin-top: 25px;
    margin-right: 20px;
}
header a:hover{
    text-decoration: none;
}
#sign-up{
    white-space: nowrap;
    background-color: #e3ca11;
    border-radius: 20px;
    padding: 12px;
    color: #0c1018;
}
#brand-logo{
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
}
#brand-logo-small{
    margin-right: 10px;
    margin-left: 10px;
    width: 80px;
    display: none;
}
.search{
    width: 400px;
}
.search input{
    color: white;
    font-size: 15px;
    font-family: 'Noto sans';
    background-color:#1b2331;
    max-width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    width: 100%;
    min-width: 100px;
    margin-top: 20px;
}
.all-listings-nav{
    position: relative;
    display: flex;
    max-width: 1500px;
    margin: auto;
    padding-bottom: 10px;
    justify-content: center;
}

.all-listings-nav .dropdown{
    position: relative;
    margin: auto;
    margin-right: 30px;
}
.all-listings-nav h2{
    margin: auto;
    margin-left: 30px;
}
.dropdown button{
    padding: 10px;
    width: auto;
    color: white;
    font-size: 17px;
    font-family: 'Noto Sans';
    background-color: #0c1018;
    border-radius: 10px;
    border: solid 1px #222D43;
    cursor: pointer;
    position: relative;
}
.filters{
    display: flex;
    margin-top: 7px;
}
.menu{
    display: none;
    position: absolute;
    background-color: #1b2331;
    border-radius: 5px;
    min-width: 160px;
    border: solid 1px #222D43;
    z-index: 10;
}
.dropdown .menu a{
    display: block;
    padding: 5px;
    text-decoration: none;
    font-family: 'Noto Sans';
    padding: 12px;
}
.dropdown:hover .menu{
    margin-top: 3px;
    display: block;
}
.popular-listings{
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 1500px;
    max-height: 650px;
    margin: auto;
    padding-top: 3px;
    position: relative;
    overflow: hidden;
}
.popular-listings h1{
    margin: 10px;
}
.popular-listings .car{
    height: auto;
    position: relative;
    max-width: 1200px;
    max-height: 600px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 12px;
    transition: opacity 2s ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.popular-listings .car.active{
    position: relative;
    opacity: 1;
    z-index: 2;
}
.popular-listings .car img{
    max-height: 600px;
    max-width: 1200px;
    display: block;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 12px;
}
.popular-listings .car .overlay{
    width: 100%;
    position: absolute;  
    bottom: 0px;        
    color: white;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%)
}
.popular-listings .car .overlay h3{
    left: 5px;
    bottom: 5px;
    position: relative;
}
.popular-listings .car .overlay p{
    left: 5px;
    bottom: 5px;
    position: relative;
}
.popular-listings .car .overlay2{
    width: 100%;
    position: absolute;  
    top: 0px;        
    color: white;
    background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%)
}
.popular-listings .car .overlay2 h3{
    left: 5px;
    position: relative;
}
#carlistings{
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 20px;
    margin: auto;
    box-sizing: border-box;
}
#carlistings .car{
    margin: auto;
    margin-top: 5px;
    min-width: 350px;
    min-height: 400px;
    box-sizing: border-box;
}

.car img{
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
    max-width: 350px;
    max-height: 250px;
    aspect-ratio: 4/3;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.car .brief-description{
    font-size: 15px;
    margin: 0;
    padding-left: 5px;
}
.car .location{
    display: block;
    margin-left: 5px;
    font-size: 15px;
    color: #254077;
}
.car h3{
    margin: 5px;
    font-weight: 400;
}
.car p{
    display: inline-block;
    margin: 5px;
}
.pagination{
    margin-top: 100px;
    text-align: center;
}
.pagination a{
    display: inline-block;
    padding: 8px 15px;
}
body{
    margin: 0;
    margin-top: 90px;
    background-color: #0c1018;
    color: white;
    font-family: 'Noto sans', sans-serif;
    font-weight: 300;
}
footer{
    border-top: 1px #222D43 solid;
    max-width: 1500px; height: 200px;
    margin: auto;
    margin-top: 70px;
    background-color: #0c1018;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.car-header{
    display: block;
    max-width: 1500px;
    margin: auto;
}
#car-name{
    margin: 0;
}
#brief-description{
    margin: 0;
}
.car-image-block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1px;
    max-width: 1500px;
    margin: auto;
}
#main-image {
    width: 100%;
    height: auto;
    display: block;
}
.image-cluster {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.image-cluster img {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: block;
}
.sub-category{
    margin: 10px;
    font-size: 110%;
    font-weight: 400;
    flex: 1;
}
.category{
    display: flex;
    margin: auto;
}
#details-border{
    margin-top: 20px;
    border: 1px solid #222D43;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.single-detail{
    margin: 10px;
}
#price-and-time{
    display: flex;
    justify-content: space-between;
    max-width: 990px;
    margin: auto;
    margin-top: 20px;
    background-color: #222D43;
    border-radius: 10px;
    padding: 5px;
    padding-inline: 10px;
}
#current-price{
    border-radius: 10px;
    width: 90px;
}
#login{
    margin-top: 150px;
    margin: auto;
    align-items: center;
}
#login-space{
    text-align: left;
    padding: 50px;
    justify-content: left;
    display: flexbox;
    width: 100%;
    max-height: 700px;
    max-width: 700px;
    margin: auto;
    border-radius: 10px;
    background-color: #1b2331;
    box-sizing: border-box;
}
#login-space input{
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-family: 'Noto sans';
    background-color: #0c1018;
    border: none;
    height: 40px;
    max-width: 300px;
}
#login-space button{
    margin-top: 30px;
    background-color: #e3ca11;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Noto sans';
}
#sign-up-title{
    display: block;
    margin: auto;
    text-align: center;
    justify-content: center;
}
#login-head{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: block;
}
#signup-details{
    max-width: 700px;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: block;
}