header{
    position: fixed;
    background-color: #171717;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.popular-listings{
    width: 1200px;
    margin: auto;
}
.carlistings{
    display: inline-block;
    width: 1610px;
    margin-left: 80px;
}
.car-listing{
    display: inline-block;
    width: 350px; height: 400px;
    margin: 10px;
}
.car{
    display: flex;
    flex-direction: column;
    height: 370px; width: 340px;
    margin: 60px;
}
.car img{
    aspect-ratio: 4/3;
    width: 100%; height: auto;
}
.car h3{
    margin: 10px;
}
.car p{
    margin: 5px;
}
body{
    margin: 0;
    margin-top: 150px;
    background-color: #171717;
    color: white;
    font-family: 'vend', sans-serif;
}
footer{
    border-top: 1px gray solid;
    width: 500px; height: 200px;
    margin: auto;
}
a{
    color: white;
    text-decoration: none;
}